<div class="row">
  <button ng-click="dashboard.logout()" class="btn btn-default btn-danger pull-right">
    Log out
  </button>
</div>
<div class="row text-center">
  <h1>
    Secret
  </h1>

  <p>
    user email: {{ dashboard.user.email }}
  </p>

  <p>
    user id: {{ dashboard.user.id }}
  </p>
</div>
