<div class="row">
  <button ng-click="loginSignup.auth('facebook')" class="btn btn-block btn-social btn-facebook" type="button">
    <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>
</div>

<div class="row">
  <div class="text-center">
    <hr>
    Or
    <hr>
  </div>
</div>

<div class="row">
  <input type="text" ng-model="loginSignup.email" placeholder="Email" class="form-control">
  <input type="password" ng-model="loginSignup.password" placeholder="Password" class="form-control">
  <br>

  <div class="text-center">
    <div class="btn-group btn-group-lg">
      <button class="btn btn-default" ng-click="loginSignup.login()">Login</button>
      <button class="btn btn-default" ng-click="loginSignup.signup()">Register</button>
    </div>
  </div>

</div>
